.sign-up-container {
	width: 400px;
	@media screen and (max-width: 800px) {
		width: unset;
		padding: 0em 1em;
	}
}
.sign-in {
	margin-bottom: 20px;
}
.sign-up-form-container > div {
	margin-bottom: 2em;
	margin-top: 40px;
}
.sign-in-button {
	width: 100%;
}
