.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  top: 55px;
  right: 30px;
  z-index: 5;
  -webkit-box-shadow: 3px 5px 8px 3px rgba(153, 153, 153, 0.69);
  -moz-box-shadow: 3px 5px 8px 3px rgba(153, 153, 153, 0.69);
  box-shadow: 3px 5px 8px 3px rgba(153, 153, 153, 0.69);

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }
  .cart-checkout-button {
    width: 100%;
    justify-content: center;
    margin-top: 1.5em;
  }
}
