.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 1em;
  // the nav bar outline
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.22);
  background-color: #f5f4f2;
  @media screen and (max-width: 800px) {
    padding: 10px;
    height: 55px;
    margin-bottom: 20px;
  }
  .brand-header {
    font-family: Pacifico;
    font-size: 24px;
    line-height: 27px;
    margin-right: 12vw;
  }

  .nav-links-container {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 21px 10px;
      line-height: 24px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .nav-link:hover span {
      border-bottom: 3px solid #cb4b4b;
      padding-bottom: 10px;
    }

    @media screen and (max-width: 800px) {
      .nav-link {
        padding: 0px 8px;
      }
    }
  }
  .shop-dropdown {
    display: none;
    position: absolute;
    left: 20px;
    top: 60px;
    padding: 10px;
    background: white;
    z-index: 5;

    padding: 12px 0px;
    font-size: 16px;
    min-width: 225px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 4px;
  }
  #shopLink:hover .shop-dropdown {
    display: block;
  }

  .shop-dropdown-link {
    padding: 12px 12px 12px 24px;
    line-height: 1;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  .shop-dropdown-link:hover {
    background-color: #f7a7a7;
    color: black;
  }
}
