.product-card-container {
  .curve-border {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: unset;
  }
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .product-card-button {
    width: 100%;
  }
  .product-card-content-container {
    display: flex;

    .product-card-name {
      width: 90%;
      font-size: 18px;
    }

    .product-card-price {
      width: 10%;
    }
  }
}
