.directory-item-container {
  h2 {
    cursor: none;
  }
  .shop-now-button {
    -webkit-appearance: unset;
    -moz-appearance: unset;
    appearance: unset;
    outline: unset;
    box-shadow: unset;
    margin: 5px;
    min-width: 136px;
    padding: 11px 8px;
    background-color: #fbfbfb;
    border: 1px solid #c4c4c4;
    color: #242424;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    &:hover {
      border: 1px solid black;
    }
  }
}
