.directory-container {
  max-width: 1440px;
  margin: 36px auto;
  .directory-item-row {
    display: flex;
    .directory-item {
      width: 50vw;
      margin: 0em 1em;
      margin-bottom: 40px;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
  .directory-item {
    margin: 0em 1em;
    margin-bottom: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
  }
}
