body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //screens < 800px
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
  background-color: #eff3f8;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.p-inputtext {
  width: 100%;
}
